.slideContainer {
  width: 70%;
  margin: auto;
}

h3 {
  text-align: center;
}

.eachSlide > div {
  display: flex;
  align-items: center;
  justify-content: center;

  background-size: 100% 300px;
  background-blend-mode: normal;
  background-repeat: space;
  height: 300px;
  object-fit: cover;
}
@media screen and (max-width: 300px) {
  .eachSlide > div {
    left: 50%;
    margin-left: -512px;
  }
}

.each-slide span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 75%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
}
